body{font-family: "Myriad Pro", Verdana, Calibri, sans-serif;color:#777}
.header{margin-top:0px; background: #c9de96; /* Old browsers */
background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
.jumbotron{margin-top:30px}
.content-box .jumbotron{background:#171717;padding:20px;}
.content-box h2, .content-box p, .content-box span, .content-box li{color:#fff;}
.content-box h2{font-size:25px;}
.content-box p{font-size:18px;}
.column-info{padding:15px 10px 15px 10px;}
.column-info:first-child{border-left:none;}
.calories-container{margin-top:35px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.calories-container h2{color:#777777;font-size:20px;margin-top:5px}
.calories-container .value{font-size:20px;color:#333}
.main-wrapper .btn-primary{background-color:#f4cc66;border:solid 1px #f4cc66;color:#000;font-size:22px;}
.calorie-count{padding:0px;margin:20px 0 0 0;}
.calorie-count li{border-radius:8px;background:#262626;padding:10px;min-width:70px;min-height:70px;text-align:center;color:#fff;font-size:30px;margin-right:10px;list-style:none;float:left;}
.suggestions-container h2{margin-top:0px;color:#FABC1F;}
.main-wrapper .form-group{margin-bottom:20px;background:#F3F2F2;border-radius: 7px;padding-top: 3px;}
.main-wrapper .form-field{font-size:20px;font-weight:normal;padding:7px; display:inline-block;}
.main-wrapper .form-control{display:inline-block;margin-left:10px;width:75%;}
.main-wrapper select.form-control{width:64%;}
.main-wrapper .height-container select.form-control{width:30%;}
.height-container select.form-control{margin-bottom:10px;}
footer{margin-top:50px; text-align:center;}
h1.main-heading{ border-radius: 5px;
color: #fff;
font-size: 20px;
margin-bottom: 20px;
margin-top: 0px;
padding: 17px 10px 13px 10px;}
.final-result{margin-top:10px}
.final-result .result-box{background:#910000;padding:10px 20px;color:#fff;font-size:30px;border-radius:8px;}
.final-result .result-box h2{padding:0px;margin:0px;}
.final-result .result-box p{padding:0px;margin:0px;}
.modal-dialog .modal-footer{text-align:center}
.odometer{font-size: 65px;}
.popupP{text-align: center;font-size: 17px;width: 80%;margin: 0 auto;line-height: 25px;}
.page{display: none;}
#page1{display: block;}
.main-wrapper .form-group.food-container{background:#FF8E04;padding:6px 0 10px 6px}
.main-wrapper .food-container label{color:#fff;}
.main-wrapper .food-container #foodItem{width:80%}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.content-box h2{font-size:20px;}
.calorie-count li{min-height:70px; min-width:40px;}
.content-box .odometer{font-size:45px;}
.suggestions-container{margin-top:20px;}
}

