body{font-family: "Myriad Pro", Verdana, Calibri, sans-serif;color:#777}
.header{margin-top:0px; background: linear-gradient(#FF6C59, #D84B4B)};
.jumbotron{margin-top:30px}
.content-box .jumbotron{background:#171717;padding:20px;}
.content-box h2, .content-box p, .content-box span, .content-box li{color:#fff;}
.content-box h2{font-size:25px;}
.content-box p{font-size:18px;}
.column-info{padding:15px 10px 15px 10px;}
.column-info:first-child{border-left:none;}
.calories-container{margin-top:35px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.calories-container h2{color:#777777;font-size:20px;margin-top:5px}
.calories-container .value{font-size:20px;color:#333}
.main-wrapper .btn-primary{background-color:#f4cc66;border:solid 1px #f4cc66;color:#000;font-size:22px;}
.calorie-count{padding:0px;margin:20px 0 0 0;}
.calorie-count li{border-radius:8px;background:#262626;padding:10px;min-width:70px;min-height:70px;text-align:center;color:#fff;font-size:30px;margin-right:10px;list-style:none;float:left;}
.suggestions-container h2{margin-top:0px;color:#FABC1F;}
.main-wrapper .form-group{margin-bottom:20px;background:#F3F2F2;border-radius: 7px;padding-top: 3px;}
.main-wrapper .form-field{font-size:20px;font-weight:normal;padding:7px; display:inline-block;}
.main-wrapper .form-control{display:inline-block;margin-left:10px;width:75%;}
.main-wrapper select.form-control{width:64%;}
.main-wrapper .height-container select.form-control{width:30%;}
.height-container select.form-control{margin-bottom:10px;}
footer{margin-top:50px; text-align:center;}
h1.main-heading{ border-radius: 5px;color: #fff;font-size: 20px;margin-bottom: 20px;margin-top: 0px;padding: 17px 10px 13px 10px;}
.modal-dialog .modal-footer{text-align:center}
.odometer{font-size: 65px;}
.popupP{text-align: center;font-size: 17px;width: 80%;margin: 0 auto;line-height: 25px;}
.page{display: none;}
#page1{display: block;}
.main-wrapper{margin-top:10px;padding-bottom:90px;}
.main-wrapper .form-group.food-container{background:#FF8E04;padding:6px 0 10px 6px}
.main-wrapper .food-container label{color:#fff;}
.main-wrapper .food-container #foodItem{width:80%}
.header .icon-bar{background: #fff;}
.header .navbar-toggle{float:left;}
.header .navbar-brand{color:#fff;padding:15px 0px;}
.header .navbar-nav{float:right;}
.header .navbar-nav a{color:#fff;}
.header .navbar-nav a:hover{background:#f4cc66;}
.date-container{background:#FF8E04;padding:6px 0 10px 6px;font-size:20px;color:#fff;text-align:center;}
.header .navbar{margin:0px;}
.container-topmargin{margin-top:60px;}
.nutrition .jumbotron{bottom: 0;left: 0;padding: 12px 8px 8px 8px;position: fixed;width: 100%;z-index: 4444;margin:0px;background:#FBD5B0}
.nutrition .jumbotron h2{margin:0px;color:#000;font-size:16px;}
.nutrition .jumbotron p{color:#777}
.final-result p{font-size:30px;margin:0;padding:0;}
h2.heading{background:#ff8e04; padding: 6px 0 10px 6px;color:#fff;border-radius:8px;font-size: 24px;}
#page4 .table th{font-size:16px;}
#page4 .bs-example{padding-top:5px;}
footer p{font-size:11px;}
h2.challenge-frnd{margin-top:60px;}
.block-info{margin-bottom:20px;}
.block-info .text-info{position:relative;bottom:10px;}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
.modal{margin-top:50px}
.content-box h2{font-size:20px;}
.calorie-count li{min-height:70px; min-width:40px;}
.content-box .odometer{font-size:45px;}
.suggestions-container{margin-top:20px;}
.header .navbar-nav{float:none;}
.header{ margin-bottom: 45px; margin-top: 0; min-height: 40px; position: fixed; top: 0; width: 100%; z-index: 5000;}
.topmargin{margin-top:51px;}
.date-container{display: none;}
.nutrition{display: none;}

